body{
	font-family:sans-serif;}
h1{
	background: #ffffff none repeat scroll 0 0;margin-right:-1em;
	box-shadow: 11em -1em 6em 1em #fcaffa;
	font-weight: 300;}
h2{
	padding-left:3.8em; font-family:serif;}
main{
	background: #333; color:#fefeff;border:silver outset;border-radius:0.2em;
	padding: 1em 6.2em
}
header,main{
	margin:1em;}

a{position:relative;background:#fff; padding: 0 0.3em 0;transition: color 0.33s, top 5s;}
header a {text-decoration: none; color: #050021; }
header a:hover{color:#ccc;font-size: 1.1;} 
main a{border-radius: 2em; padding:0.4em 1em}
